.event-text-1{
    position: absolute;
    left: 30.72%;
    right: 30.72%;
    top: 7.49%;
    bottom: 82.1%;

    /* Header */

    font-family: iCielKoni;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* identical to box height, or 104% */


    color: #FFFFFF;
}