.home-img-1{
    position: absolute;
    width: 300px;
    height: 510px;
    left: -20px;
    top: 528px;
    z-index: 2;
}

.home-img-2{
    position: absolute;
    width: 147.37px;
    height: 210px;
    left: 18px;
    top: 321px;
}

.home-img-3{
    position: absolute;
    left: 91.67%;
    right: -1.98%;
    top: 34.15%;
    bottom: 40.22%;
}

.home-img-4{
    position: absolute;
    left: 32.81%;
    right: 61.46%;
    top: 98.78%;
    bottom: 16%;
}

.home-img-5{
    position: absolute;
    left: 88.18%;
    right: 3.18%;
    top: 74.82%;
    bottom: 3.71%;

}

.home-img-6{
    position: absolute;
    left: 42.03%;
    right: 50.47%;
    top: 16.58%;
    bottom: 64.86%;
}

.home-img-7{
    position: absolute;
    width: 788px;
    height: 443px;
    left: 1052px;
    top: 23px;
}

.home-img-8{
    position: absolute;
    left: 53.59%;
    right: 40.31%;
    top: 8.61%;
    bottom: 75.63%;
}

.home-img-9{
    position: absolute;
    left: 10.42%;
    right: 80.16%;
    top: 14.22%;
    bottom: 72.64%;
}

.star{
    position: absolute;
    left: -6.01%;
    right: 3.38%;
    top: 0%;
    bottom: -0.1%;
}

/* event page images css*/

.event-obj-1{
    position: absolute;
    width: 1784px;
    height: 772px;
    left: 28px;
    top: 4px;
}

.event-obj-2{
    position: absolute;
    width: 579px;
    height: 312px;
    left: 1300.17px;
    top: -39.35px;
}

.event-obj-3{
    position: absolute;
    width: 621px;
    height: 226px;
    left: -84px;
    top: 11px;
}

.event-obj-4{
    position: absolute;
    left: 34.33%;
    right: 65.23%;
    top: 84.29%;
    bottom: 11.86%;
}

.event-obj-5{
    position: absolute;
    left: 27.01%;
    right: 71.47%;
    top: 84.57%;
    bottom: 12.19%;
}

.event-obj-6{
    position: absolute;
    left: 92.45%;
    right: 8.68%;
    top: 81.58%;
    bottom: 16.61%;
}

.event-obj-7{
    position: absolute;
    left: 75.05%;
    right: 25.01%;
    top: 80%;
    bottom: 16.98%;
}

.event-obj-8{
    position: absolute;
    left: 42.31%;
    right: 57.74%;
    top: 80.75%;
    bottom: 17.59%;
}

.event-obj-9{
    position: absolute;
    left: 55.78%;
    right: 43.61%;
    top: 81.44%;
    bottom: 14.01%;
}

.event-obj-10{
    position: absolute;
    left: 67.43%;
    right: 34.2%;
    top: 81.61%;
    bottom: 16.63%;
}

